---
import { Icon } from "astro-icon/components";

interface Item {
	title: string;
	description?: string;
	actions?: {
		iconName?: string;
		title: string;
		link: string;
	}[];
}

interface Props {
	items: Item[];
}

const { items } = Astro.props;
---

<div class="gradient container">
	<div class="overlay"></div>
	<div class="carousel container">
		{
			items.map((item, index) => (
				<div class="item" tabindex={index}>
					{index == 0 && <h3>{item.title}</h3>}
					{index > 0 && <h4>{item.title}</h4>}
					{item.description && <p>{item.description}</p>}
					{item.actions && (
						<div class="wrapper">
							{item.actions.map((action) =>
								action.iconName ? (
									<a
										class="btn switcheroo"
										href={action.link}
									>
										<Icon
											id="icon"
											name={`fa-brands:${action.iconName}`}
										/>
										<span id="title">{action.title}</span>
									</a>
								) : (
									<a class="btn" href={action.link}>
										{action.title}
									</a>
								),
							)}
						</div>
					)}
				</div>
			))
		}
	</div>
</div>

<style>
	.gradient.container {
		width: 100vw;
		height: 100%;

		position: relative;
	}

	.carousel.container {
		display: flex;
		min-width: 100vw;
		height: 25rem;

		padding: 8px 64px 32px 16px;
		gap: 8px;

		overflow-x: scroll;
		position: relative;
	}

	.gradient .overlay {
		position: absolute;
		width: 15%;
		height: 100%;
		top: 0;
		right: 0;
		z-index: 1;
		pointer-events: none;

		background: linear-gradient(to right, transparent, var(--background));
	}

	.carousel .item {
		display: flex;
		flex-direction: column;
		background: transparent;
		width: 35rem;
		border: 1px solid var(--background-tertiary);

		color: #fff;

		flex-shrink: 0;

		padding: 20px;
		border-radius: 16px;
	}

	.carousel .item :is(h3, h4) {
		font-size: 3em;
		margin: 1rem 0;
	}

	.carousel .item p {
		font-size: 1.5em;

		text-wrap: pretty;
		overflow-wrap: break-word;
		white-space: break-spaces;
	}

	.carousel .item:first-of-type {
		background: #dca3ff;
		color: var(--background-emphasis);
	}

	.carousel .item div.wrapper {
		margin-top: auto;
	}

	.carousel .item a.btn {
		text-decoration: none;
		font-family: "Inter", sans-serif;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		border-radius: 99999px;
		padding: 15px 20px;

		width: fit-content;

		border: 1px solid var(--background-tertiary);
		color: hsl(var(--accent-hue), 100%, 95%);
		transition: all 500ms ease-in-out;
	}

	.carousel .item:first-of-type a.btn {
		color: var(--background-emphasis);
	}

	.btn.switcheroo span#title {
		display: none;
	}

	.btn.switcheroo:hover span#title {
		display: block;
		animation: FadetoExistanceAndSlide 500ms ease-out forwards;
	}

	@keyframes FadetoExistanceAndSlide {
		0% {
			display: none;
			opacity: 0;
			transform: translateX(-10px);
		}

		1% {
			display: block;
			opacity: 0;
		}

		100% {
			display: block;
			opacity: 1;
			transform: translateX(0px);
		}
	}
</style>
